@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

  .forms-shadow {
   @apply shadow-[0_10px_30px_0_rgba(27,160,252,0.2)];
  }

  .paragraph-basic {
    @apply font-inter;

    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  .paragraph-basic-semibold {
    @apply font-inter;

    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
  }

  .paragraph-small {
    @apply font-inter;

    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
  }

  h1, .heading-1 {
    @apply font-inter;

    font-weight: 900;
    font-size: 48px;
    line-height: 56px;

    @media (min-width: 768px) {
      font-weight: 900;
      font-size: 64px;
      line-height: 72px;
    }
  }

  h2, .heading-2 {
    @apply font-inter;

    font-weight: 800;
    font-size: 32px;
    line-height: 48px;

    @media (min-width: 768px) {
      font-size: 48px;
      line-height: 56px;
    }
  }

  h3, .heading-3 {
    @apply font-inter;

    font-weight: 400;
    font-size: 24px;
    line-height: 32px;

    @media (min-width: 768px) {
      font-weight: 400;
      font-size: 32px;
      line-height: 48px;
    }
  }

  h4 {
    @apply font-inter;

    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    @media (min-width: 768px) {
      font-weight: 600;
      font-size: 24px;
      line-height: 32px;
    }
  }

  h5 {
    @apply font-inter;

    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
  }

  h6 {
    @apply font-inter;

    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
  }
}

@layer components {
  .btn {
    @apply bg-forms inline-flex justify-center w-auto px-6 py-2 items-center font-bold border-2 text-gray border-gray rounded-full shadow-[4px_4px_0_0_#272B35] duration-300 ease-in-out;
    @apply hover:bg-forms/80;
    @apply focus:outline-none;
    @apply active:shadow-[2px_2px_0_0_#272B35] active:translate-x-[2px] active:translate-y-[2px];
  }

  .btn-yellow {
    @apply btn bg-yellow hover:bg-yellow/80;
  }

  .btn-teal {
    @apply btn bg-teal hover:bg-teal/80;
  }

  .btn-pink {
    @apply btn bg-pink hover:bg-pink/80;
  }

  .btn-orange {
    @apply btn bg-orange hover:bg-orange/80;
  }
}

@layer base {
  @font-face {
    font-family: Inter;
    font-weight: 900;
    src: url(@/assets/fonts/Inter-Black.woff) format("woff");
  }
  @font-face {
    font-family: Inter;
    font-weight: 600;
    src: url(@/assets/fonts/Inter-SemiBold.woff) format("woff");
  }
  @font-face {
    font-family: Inter;
    font-weight: 400;
    src: url(@/assets/fonts/Inter-Regular.woff) format("woff");
  }
}
